input[type="text"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="datatime"],
input[type="datatime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea:focus,
select[multiple]:focus {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(205, 205, 205);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(205, 205, 205);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(205, 205, 205);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(205, 205, 205);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 163px;
    word-spacing: 0px;
    writing-mode: lr-tb;
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="datatime"]:focus,
input[type="datatime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus,
select[multiple]:focus{
    border: 2px solid #9A9A9A;
    padding: 5px;
    outline: 0;
}

input.errorClass{
    border-color: #FF0000;
}